#  Annual GPD by Country

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

pd.set_option('display.max_rows', 500)

# Acquire

In [2]:
# Read in data up to row index 216, country groups start at 217
data = pd.read_csv('./data/gdp/gdp_by_country.csv'
                ,nrows=216)

data = data.drop(columns=['Series Name', 'Series Code', 'Country Code'])

In [3]:
data.head()

,Country Name,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,..,..,17804292964.1045,20001598505.7042,20561069558.2152,20484885119.7348,19907111418.9938,18017749073.6362,18869945678.4215,18353881129.5246,19291104007.6135,19807067268.1084
1,Albania,2028553750,3480355188.60063,12890765324.2256,12319830252.4768,12776217194.7928,13228144008.3428,11386846319.1589,11861200797.4706,13019693450.8816,15147020535.3869,15286612572.6895,14799615097.1008
2,Algeria,62048562947.2509,54790379458.8877,200013038488.906,209058991952.125,209755003250.664,213810023703.446,165979173991.026,160034162957.738,170097230857.956,175414987760.927,171157803367.473,145163902228.168
3,American Samoa,..,..,570000000,640000000,638000000,643000000,673000000,671000000,612000000,641000000,638000000,..
4,Andorra,1029048481.88051,1429049198.45218,3629203786.19154,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,..

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   216 non-null    object
 1   1990 [YR1990]  216 non-null    object
 2   2000 [YR2000]  216 non-null    object
 3   2011 [YR2011]  216 non-null    object
 4   2012 [YR2012]  216 non-null    object
 5   2013 [YR2013]  216 non-null    object
 6   2014 [YR2014]  216 non-null    object
 7   2015 [YR2015]  216 non-null    object
 8   2016 [YR2016]  216 non-null    object
 9   2017 [YR2017]  216 non-null    object
 10  2018 [YR2018]  216 non-null    object
 11  2019 [YR2019]  216 non-null    object
 12  2020 [YR2020]  216 non-null    object
dtypes: object(13)
memory usage: 22.1+ KB

In [5]:
country_names = data.iloc[:,[0]]
gpd = data[data.columns[1:]].replace('..', 0)

# df = country_names, gpd